@import "./Common/styles/color-variables.css";
@import "./Common/fonts/font.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}
#root {
  background-color: var(--main-backgound-dark);
}

*::-webkit-scrollbar-track {
  background: rgba(var(--white-rgb), 0.1);
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb), 0.16);
}
